<div class="employer-block">
    <h4>
        Highlights*:
    </h4>
    <ul class="list-group">
        <li class="list-group-item"><span class="badge">74</span>Candidates viewd posted job</li>
        <li class="list-group-item"><span class="badge">30</span>Candidates applied for posted job</li>
        <li class="list-group-item"><span class="badge">87</span>Candidates joined walk-in event</li>
    </ul>
    <div class="clearfix">
        Total posted jobs 17 &nbsp;&nbsp;&nbsp;Walk-ins 02
    </div>
    <div class="clearfix">&nbsp;</div>
    <button type="submit" class="btn btn-primary btn-sm">
        View Profile
    </button>
</div>
