@using CaptchaMvc.HtmlHelpers;

@{
    ViewBag.Title = "Contact to Talent's Profile";
    Layout = "~/Views/Shared/Public.cshtml";
}
<div id="page-header-contact">
    <div class="container">
        <h3>&nbsp;</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8" id="af-left">
            <div class="widget" style="padding:0 50px;">
                <p><i class="fa fa-home"></i><a href="/"> Home </a>| Contact</p>
            </div>
        </div>
    </div>
</div>

<section id="about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="af-left">
                <div class="widget" style="padding:0 50px;">
                    <div id="process" style="display: none" class="alert alert-link" role="status">
                        @*<img src="../ui/images/process.gif" height="22px" width="22px" />
                            <span style="padding-left:10px; font-size:1.2em">Please wait...</span>*@
                    </div>
                    <div id="msgAlertContact" role="alert" style="display: none" class="alert alert-danger alert-dismissible">
                        <span id="msgStatus"></span>
                        @*<button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>*@
                    </div>

                    <p>Do you have a query? Please write to us and we will get back to you soon.</p>
                    @using (Html.BeginForm())
                    {
                        <input type="text" class="form-control" id="txtName" name="txtName" placeholder="Your name" onfocus="DismissAlert()" required />
                        <div class="clearfix">&nbsp;</div>
                        <input type="email" class="form-control" id="txtEmail" name="txtEmail" placeholder="Email id" onfocus="DismissAlert()" required />
                        <div class="clearfix">&nbsp;</div>
                        <input type="email" class="form-control" id="txtSubject" name="txtSubject" placeholder="Subject" onfocus="DismissAlert()" required />
                        <div class="clearfix">&nbsp;</div>
                        <textarea rows="10" cols="20" class="form-control" id="txtMessage" name="txtMessage" onfocus="DismissAlert()" placeholder="Message"></textarea>
                        @Html.Captcha("Try another", "Enter displayed code", 5)
                    }
                    <div class="clearfix">&nbsp;</div>
                    <button type="submit" class="btn btn-primary" id="btnSubmitMsg">
                        Submit
                    </button>
                    <div class="clearfix">&nbsp;</div>
                </div>
            </div>
            @{
                if (Request.Cookies["talentsprofileUser"] == null)
                {
                    @Html.Partial("../Shared/SideBar")
                }
            }
        </div>
    </div>
</section>

<link href="/ui/css/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript">
    $('#btnSubmitMsg').click(function () {
        DismissAlert();
        var name = $("#txtName").val();
        var email = $("#txtEmail").val();
        var subject = $("#txtSubject").val();
        var msg = $("#txtMessage").val();

        if (name == '' || email == '' || subject == '' || msg == '') {
            $('#msgStatus').html('Invalid! All fields are required.');
            $('#msgAlertContact').show();
        }
        else {
            $('#process').html('<img src="../ui/images/process.gif" height="22px" width="22px" /><span style="padding-left:10px; font-size:1.2em">Please wait...</span>');
            $('#process').show();
            $.ajax({
                url: '/PostMessage',
                type: 'POST',
                //data: { "Name": name, "Email": email, "Subject": subject, "Message": msg },
                data: $('form').serialize(),
                datatype: "json",
                contenttype: "application/json; charset=utf-8",
                success: function (result) {
                    $('#process').html('');
                    $('#process').hide();
                    if (result.Code == 200) {
                        $('#msgAlertContact').attr("class", "alert alert-success alert-dismissible");
                        $("#txtName").val('');
                        $("#txtEmail").val('');
                        $("#txtSubject").val('');
                        $("#txtMessage").val('');
                    }

                    $('#msgStatus').html(result.Description);
                    $('#msgAlertContact').show();
                },
                error: function () {
                    $('#process').html('');
                    $('#process').hide();
                }
            });
        }
    });

    function DismissAlert() {
        $('#msgAlertContact').attr("class", "alert alert-danger alert-dismissible");
        $('#msgStatus').html('');
        $('#msgAlertContact').hide();
    }
</script>