<div class="footer-wrapper clearfix">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-sm-3">
                    <div class="our-info">
                        <h4 style="color:#ffc000">Talent's Profile</h4>
                        <p>Focused to place profiles and employers on a platform where right talent can be chosen for right job profile. Helping talents to boost up their career in right direction.</p>
                        <a href="/about">More >></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-sm-3 col-xs-4">
                    <div class="footer-widget footer-list">
                        <ul>
                            <li><a href="/search/jobs?key=walkins">Walk-ins</a></li>
                            <li><a href="/search/jobs?key=skills">Jobs by Skills</a></li>
                            <li><a href="/search/jobs?key=loc">Jobs by Location</a></li>
                            <li><a href="/search/jobs?key=edu">Jobs by Education</a></li>
                            <li><a href="/search/jobs?key=international-jobs">Overseas Jobs</a></li>
                            <li><a href="/search/jobs?key=govt-jobs">Government Jobs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-sm-3 col-xs-4">
                    <div class="footer-widget">
                        <ul>
                            <li><a href="/resumedevelopment">Resume Development</a></li>
                            <li><a href="/interviewtips">Interview Tips</a></li>
                            <li><a href="/careerguide">Career Guide</a></li>
                            <li><a href="/faqs">Helps and FAQs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-sm-3 col-xs-4">
                    <div class="footer-widget">
                        <ul>
                            <li><a href="/organization?val=consultancy">Consultancies</a></li>
                            <li><a href="/organization?val=company">Hiring Companies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <!-- Footer Menu -->
                <div class="col-sm-12">
                    <div class="menu-footer">
                        <ul>
                            <li><a href="../">Home</a></li>
                            <li><a href="../about">About Us</a></li>
                            <li><a href="../services">Services</a></li>
                            <li><a href="../terms">Terms &amp; Conditions</a></li>
                            <li><a href="../policies">Privacy Policy</a></li>
                            <li><a href="../feedback/">Feedback</a></li>
                            <li><a href="../contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /Footer Menu -->
                <!-- Footer Social -->
                <div class="col-md-12 col-sm-12 columns">
                    <div class="social-footer">
                        <ul class="list-inline social-list">
                            <li><a target="_blank" title="Connect in Facebook" href="https://www.facebook.com/Talents-Profile-1584545345102785/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" title="Follow us in Twitter" href="https://twitter.com/ProfileTalents"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" title="" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /Footer Social -->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <!-- Copyright -->
                <div class="col-md-12 col-sm-12">
                    <div class="copyright text-center">
                        <p>Copyright © 2014-21 Talentsprofile.com, all rights reserved.</p>
                    </div>
                </div>
                <!-- /Copyright -->
                <!-- Footer Logo -->
                <div class="col-md-6 col-sm-12">
                    <div class="logo-footer">&nbsp; </div>
                </div>
                <!-- /Copyright -->
            </div>
        </div>
        <!-- /Container -->
    </div>
</div>