@{
    ViewBag.Title = "Page not found";
    Layout = "~/Views/Shared/Public.cshtml";
}

@*@Html.Partial("../Shared/SignInLink")*@

<h2>* Error!</h2>
@*<form class="form-horizontal">
    <div class="form-group">
        @{
            string err = Response.Status;
            @Html.Label(err);
        }
    </div>
</form>*@
