<div class="col-md-4">
    <div class="xbox">
        <div class="form-group">
            <label class="col-sm-2">
                <h4><i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i></h4>
            </label>
            <div class="col-sm-10">
                <h4>As a Talent,<br />What Can I Do Here?</h4>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="xbox-inner">
            <ul>
                <li>Create profile & download a professional resume immediately.</li>
                <li>
                    Share your profiles with hiring teams & verified consultancies.
                </li>
                <li>
                    Get relevant job & walk-in information.
                </li>
                <li>
                    Get resume development tips, interview tips, career guides.
                </li>
                <li>
                    Get in touch with a mentor.
                </li>
                <li>
                    FAQs related to career development.
                </li>
            </ul>
            <h4>
                Sign up it is FREE!
            </h4>
            <a href="talent/signup" class="btn btn-primary">Join now!</a>
        </div>
    </div>
    <div class="xbox">
        <div class="form-group">
            <label class="col-sm-2">
                <h4><i class="fa fa-users fa-2x" aria-hidden="true"></i></h4>
            </label>
            <div class="col-sm-10">
                <h4>As a Hiring Team, <br />How Can I Get Benefitted?</h4>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="xbox-inner">
            <ul>
                <li>Search potential candidates & download profiles.</li>
                <li>Post jobs, schedule walk-in events, get analytics.</li>
                <li>Automate your jobs & events posts.</li>
                <li>Download reports, eliminate manual works.</li>
                <li>Promote your organization.</li>
            </ul><br />
            <a href="employer/register" class="btn btn-primary">Join now!</a>
        </div>
    </div>
</div>



